//∆∆Fuentes
.font1{font-family: 'Montserrat', sans-serif;}
.font2{font-family: 'Scope One', serif;}
.font3{font-family: 'Roboto', sans-serif;}


// ∆∆ Pesos
.thing{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.medium{font-weight: 500;}
.bold{font-weight: 700;}
.exBold{font-weight: 900;}


// ∆∆ Opacidad
.opacityThing{opacity: .2;}
.opacityRegular{opacity: .5;}
.opacityMedium{opacity: .7;}


//∆∆ Position
.absolute{position: absolute;}
.relative{position: relative;}
.fixed{position: fixed;}


//∆∆ Display
.block{display: block;}
.inlineBlock{display: inline-block;}
.inline{display: inline;}


//∆∆ Text align
.alignLeft{ text-align: left;}
.alignRight{ text-align: right;}
.alignCenter{ text-align: center;}

//∆∆ Float
.left{float: left;}
.right{ float: right;}


//∆∆ Ancho
.w100{width: 100%;}
.w90{width: 90%;}
.w80{width:800%;}
.w75{width: 75%;}
.w60{width: 60%;}
.w55{width: 55%;}
.w50{width: 50%;}
.w33{width: 33.3%;}
.w25{width: 25%;}
.w10{width: 10%;}


//∆∆ Altura
.h100{ height: 100vh;}
.h90{height: 90%;}
.h80{height:800%;}
.h75{height: 75%;}
.h60{height: 60%;}
.h50{height: 50%;}
.h25{height: 25%;}
.h10{height: 10%;}


//∆∆ Padding & Márgenes
.paddingCero{padding:0 !important;}	
.marginCero{margin:0 !important;}	






