$red : #FF0000;
$blue : #29aae1;
$yellow : #FFFF00;
$grey: #989898;



//∆∆ Colores

.colorBlack{ color: black;}
.bgBlack{ background: black;}

.colorWhite{ color: white;}
.bgWhite{ background: white;}

.colorRed{ color: $red;}
.bgRed{ background: $red;}

.colorBlue{ color: $blue;}
.bgBlue{ background: $blue;}

.colorYellow{ color: $yellow;}
.bgYellow{ background: $yellow;}

.colorGrey{ color: $grey;}
.bgGrey{ background: $grey;}
